{% extends "base.html" %}

{% block title_html %}
    Projects list
{% endblock %}

{% block h1 %}
    Projects list
{% endblock %}

{% block article_content %}
    <a href="{% url 'create_developer' %}">Create A Developer(原生Form)</a><br>
    <a href="{% url 'add_developer' %}">Create A Developer(Django Form)</a><br>
    <a href="{% url 'create_supervisor' %}">Create A Supervisor(Django ModelForm)</a><br>
    <hr>
    <h2>based on CBV</h2>
    <table class="table">
    <tbody>
        <tr><td><a href="{% url 'create_project' %}">Create A Project(CreateView)</a></td>
        <td><a href="{% url 'create_task' %}">Create A Task(CreateView)</a></td>
        <td><a href="{% url 'project_list' %}">Project List(ListView)</a></td>
    </tr>
        <td>
        <a href="{% url 'project_list2' %}">Project List(ListView,自定义(带分页))</a></td>
        <td>
            <a href="{% url 'developer_list' %}">Developer List(ListView)</a></td>
        <td>
            <a href="{% url 'task_detail' '1' %}">Detail Task(DetailView, pk=1)</a>
        </td>
    </tr>
    </tr>
        <td>
        <a href="{% url 'developer_detail' 2 %}">Developer Detail(DeatilView, pk=2)</a></td>
        <td>
            <a href="{% url 'update_task' 1 %}">Update Task(UpdateView, pk=1)</a></td>
        <td>
            <a href="{% url 'update_task_time' '1' %}">Update Task with Time(DetailView, pk=1)</a>
        </td>
    </tr>
    </tr>
        <td>
        <a href="{% url 'task_delete' 1 %}">Delete Task(DeleteView, pk=1)</a></td>
{#        <td>#}
{#            <a href="{% url 'update_task' 1 %}">Update Task(UpdateView, pk=1)</a></td>#}
{#        <td>#}
{#            <a href="{% url 'update_task_time' '1' %}">Update Task with Time(DetailView, pk=1)</a>#}
{#        </td>#}
    </tr>
    </tbody>
    </table>
    <h3>{{ action }}</h3>
    {% if all_projects|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Title</strong></td>
                    <td><strong>Description</strong></td>
                </tr>
            </thead>
            <tbody>
            {% for project in all_projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></td>
                    <td>{{ project.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>No project.</span>
    {% endif %}

    {% if all_projects.has_other_pages %}
        <ul class="pagination">
            {% if all_projects.has_previous %}
                <li><a href="?page={{ all_projects.previous_page_number }}">&laquo;</a> </li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in all_projects.paginator.page_range %}
                {% if all_projects.number == i %}
                    <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a> </li>
                {% endif %}
            {% endfor %}
            {% if all_projects.has_next %}
                <li><a href="?page={{ all_projects.next_page_number }}">&raquo;</a> </li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}