{% extends "base.html" %}

{% block title_html %}
    Project List
{% endblock %}

{% block h1 %}
    Project List
{% endblock %}

{% block  article_content%}
    <table class="table table-striped">
            <thead>
                <tr>
                    <td><strong>Title</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Client name</strong></td>
                </tr>
            </thead>
            <tbody>
            {% for project in object_list %}
                <tr>
                    <td><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.client_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a> </li>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}


{% endblock %}