{% extends "base.html" %}

{% block h1 %}
    Project Detail
{% endblock %}

{% block article_content %}
    <h3>{{ project.title }}</h3>
    <h4>Clinet : {{ project.client_name }}</h4>
    <p>{{ project.description }}</p>
    <h3>Task List</h3>
{#    {% for task in tasks %}#}
{#        {{ task.title }}#}
{#    {% endfor %}#}
    <table class="table table-striped">
        <thead>
            <tr>
                <td><strong>Title</strong></td>
                <td><strong>Description</strong></td>
                <td><strong>Developer</strong></td>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="">{{ task.title }}</a></td>
                <td>{{ task.description }}</td>
                <td><a href="{% url 'developer_detail' task.developer.id %}">{{ task.developer }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}